

textarea, mat-form-field{
  width:100%;
}


.mat-card{
    margin-left: 15%;
    margin-right: 15%;
}

mat-spinner{
  margin:auto;
}

input[type='file']{
  visibility: hidden;
}

.image-preview{
  height:5rem;
  margin:1rem 0;
}

.image-preview img {
  height:100%;
}

.mat-expansion-panel {
  background-color: deepskyblue!important;
  border-radius: 25px;
}



.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: pointer;
  border-radius: 25px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
  margin-bottom:5%;
}

.mat-expansion-panel-header:not([aria-disabled=true]){
  text-transform: uppercase;
  
}